# Port chạy backend
PORT=3001

# Môi trường
NODE_ENV=development

# Kết nối CSDL PostgreSQL (Task 2 & 6)
DATABASE_URL=postgresql://user:password@localhost:5432/brewlite

# Khóa bí mật cho JWT (Task 7)
JWT_SECRET=your_jwt_secret_key_here