# Port chạy backend
PORT=3001

# Môi trường
NODE_ENV=development

# Kết nối CSDL PostgreSQL (Task 2 & 6)
DATABASE_URL=postgresql://user:M@giavy265@localhost:5432/brewlite

# Khóa bí mật cho JWT (Task 7)
JWT_SECRET=hlhayiftkay12345BrewLite1126052006tlmgv